.bekezdes
{
  font-family:'Josefin Sans' font, #222 grey;
  line-height: 24px;
}

.idezetek
{
  /*font-size: 15px;*/
  font-family: 'Abril Fatface'; 
  line-height:  48px; 
  border: solid #222 50px; 
  background-color: #222;
  position: relative;
  /*left: -20px;*/
  color : white;
 /*  text-align: center;*/
}

.idezetek #idozojel
{
    position: absolute;
    top: -10px;
    left: -10px;  
    font-family: "Lucida Console", Fantasy;

}

/*.idezetek::before {
content:" '' ";
}*/

.cimek
{
  font-family: 'Merriweather', serif;
   line-height:  48px; 
   text-transform:uppercase;
 }

.cimek_2
{
  font-family: 'Merriweather', serif;
   line-height:  24px; 
  
 }

.oldal
{  
 /* display: box;
  justify-content: center;*/
  margin-left: 27%;
  margin-right: 27%;
  line-height: 24px;
  color: #222 gray;
  font-family: ‘Josefin Sans’ font;
  background-color: white;
  }

.vonal
{
  
  border-bottom: 5px solid black;
  margin-top:  50px;
  margin-bottom: 50px;
 }